---
layout: default
title: Page not found Error (#404)
---
<article class="post">
 <h2>Page Not found Error (#404)</h2>
  <div>
      <p>Sorry, but the page you were trying to view does not exist.<br />
      It looks like this was the result of either:</p>

      <ul>
      	<li>a mistyped address</li>
      	<li>an out-of-date link</li>
      </ul

	  <p>This error has been logged and I have been notified - <span class="name">Bent Bracke</span></p>

	  <p>
	    <h3>Last blog posts</h3>
		<ul>
		   {% for post in site.posts limit: 10 %}
		   	  <li><a href="{{ post.url   | replace:'.html','' }}">{{ post.title }}</a></li>
		  {% endfor %}
		</ul>
	  </p>
  </div>
<br/>
{% include fix_url.html %}
</article>