<article class="index"><div itemprop="itemlistelement">
<div itemscope itemtype="http://schema.org/Product">
<h2><span itemprop="name">FileChop</span></h2>
<span itemprop="description">This is a desktop frontend for GNATchop (separates Ada compilation units) and is based on the DDE Frontend module. The commandline tool GNATchop is not supplied.</span><br><hr>
<span>Download: <strong><a href="/download/filechop-103.zip" itemprop="productID">V1.03</a></strong></span>, <span>Source: <strong><a href="https://github.com/bracke/filechop">GitHub</a></strong></span>
</div>
</div></article>

<article class="index"><div itemprop="itemlistelement">
<div itemscope itemtype="http://schema.org/Product">
<h2><span itemprop="name">Ada2Str</span></h2>
<span itemprop="description">This tool creates StrongHelp documentation for Ada programs based on their specifications. It is a commandline tool with a desktop frontend based on the DDE module. The program uses the AdaDoc 'engine' to parse Ada specification.</span><br><hr>
<span>Download: <strong><a href="/download/ada2str-203.zip" itemprop="productID">V2.03</a></strong></span>, <span>Source: <strong><a href="https://github.com/bracke/ada2str">GitHub</a></strong></span>
</div>
</div></article>

<article class="index"><div itemprop="itemlistelement">
<div itemscope itemtype="http://schema.org/Product">
<h2><span itemprop="name">AdaDoc</span></h2>
<span itemprop="description">This program creates documentation for Ada source code in HTML format using stylesheets. It is a commandline tool with a desktop frontend based on the DDE FrontEnd module. The commandline tool is a port of 'AdaDoc' by Julien Burdy and Vincent Decorges.</span><br><hr>
<span>Download: <strong><a href="/download/adadoc-202.zip" itemprop="productID">V2.02</a></strong></span>, <span>Source: <strong><a href="https://github.com/bracke/adadoc">GitHub</a></strong></span>
</div>
</div></article>

<article class="index"><div itemprop="itemlistelement">
<div itemscope itemtype="http://schema.org/Product">
<h2><span itemprop="name">AdaFormat</span></h2>
<span itemprop="description">Syntax colours and reformats Ada source code. Output is text or RTF. It is a commandline tool with a desktop frontend based on the DDE FrontEnd module. The commandline tool is a port of 'format' by Martin C. Carlisle, Rob French, Tim Chamillard, James Hopper and Michael B. Feldman.</span><br><hr>
<span>Download: <strong><a href="/download/adaformat-104.zip" itemprop="productID">V1.04</a></strong></span>, <span>Source: <strong><a href="https://github.com/bracke/adaformat">GitHub</a></strong></span>
</div>
</div></article>

<article class="index"><div itemprop="itemlistelement">
<div itemscope itemtype="http://schema.org/Product">
<h2><span itemprop="name">Pager</span></h2>
<span itemprop="description">This program combines files into a paged file. It can also extract files from a paged file. It is a commandline tool with a desktop frontend based on the DDE FrontEnd module. The commandline tool is a port of Pager2 by Richard Conn.</span><br><hr>
<span>Download: <strong><a href="/download/pager-104.zip" itemprop="productID">V1.04</a></strong></span>, <span>Source: <strong><a href="https://github.com/bracke/pager">GitHub</a></strong></span>
</div>
</div></article>

<article class="index"><div itemprop="itemlistelement">
<div itemscope itemtype="http://schema.org/Product">
<h2><span itemprop="name">Ada Reference Manual</span></h2>
<span itemprop="description">The Ada 95 Reference Manual converted to StrongHelp format.</span><br><hr>
<span>Download: <strong><a href="/download/adar111.zip" itemprop="productID">V1.11</a></strong></span>
</div>
</div></article>

<article class="index"><div itemprop="itemlistelement">
<div itemscope itemtype="http://schema.org/Product">
<h2><span itemprop="name">Stubber</span></h2>
<span itemprop="description">This program creates Ada body stubs based on Ada specifications. It is a commandline tool with a desktop frontend based on the DDE FrontEnd module. The commandline tool is a port of 'Stubber' by Steven E. Nameroff.</span><br><hr>
<span>Download: <strong><a href="/download/stubber-105.zip" itemprop="productID">V1.05</a></strong></span>, <span>Source: <strong><a href="https://github.com/bracke/stubber">GitHub</a></strong></span>
</div>
</div></article>

<article class="index"><div itemprop="itemlistelement">
<div itemscope itemtype="http://schema.org/Product">
<h2><span itemprop="name">NameMap</span></h2>
<span itemprop="description">Tool which creates a file containing Source_File_Name pragmas for every sourcefile with a long name (> 10 charcters). It is a commandline tool with a desktop frontend based on the DDE module.</span><br><hr>
<span>Download: <strong><a href="/download/namemap-105.zip" itemprop="productID">V1.05</a></strong></span>, <span>Source: <strong><a href="https://github.com/bracke/namemap">GitHub</a></strong></span>
</div>
</div></article>
