<article class="index"><div itemprop="itemlistelement">
<div itemscope itemtype="http://schema.org/Product">
<h2><span itemprop="name">Germs</span></h2>
<span itemprop="description">Module which replaces the startup banner with a picture (Sprite, JPEG, Draw) of your choice. Versions prior to v3.00 were developed by Mark Greenwood and part of the BlackHole application.</span><br><hr>
<span>Download: <strong><a href="/download/germs-304.zip" itemprop="productID">V3.04</a></strong></span>
</div>
</div></article>

<article class="index"><div itemprop="itemlistelement">
<div itemscope itemtype="http://schema.org/Product">
<h2><span itemprop="name">InsertIcon</span></h2>
<span itemprop="description">Inserts sprites into the standard sprite pool, RISC OS Select priority sprite pool or replaces toolsprites.</span><br><hr>
<span>Download: <strong><a href="/download/inserticn-105.zip" itemprop="productID">V1.05</a></strong></span>, <span>Source: <strong><a href="https://github.com/bracke/inserticn">GitHub</a></strong></span>
</div>
</div></article>

<article class="index"><div itemprop="itemlistelement">
<div itemscope itemtype="http://schema.org/Product">
<h2><span itemprop="name">FatPaint</span></h2>
<span itemprop="description">A pixel oriented drawing program by Mark Greenwood.</span><br><hr>
<span>Download: <strong><a href="/download/fatpaint002a.zip" itemprop="productID">V0.02a</a></strong></span>
</div>
</div></article>

<article class="index"><div itemprop="itemlistelement">
<div itemscope itemtype="http://schema.org/Product">
<h2><span itemprop="name">SpriteLib</span></h2>
<span itemprop="description">Application which moves sprites with the same name into a single sprite file to make it easy to compare them.</span><br><hr>
<span>Download: <strong><a href="/download/spritelib-214.zip" itemprop="productID">V2.14</a></strong></span>, <span>Source: <strong><a href="https://github.com/bracke/SpriteLib">GitHub</a></strong></span>
</div>
</div></article>

<article class="index"><div itemprop="itemlistelement">
<div itemscope itemtype="http://schema.org/Product">
<h2><span itemprop="name">BlackOut</span></h2>
<span itemprop="description">This is a screensaver frontend with lots of different savers and a random mode. RISC OS 4 and later has its own Screensaver system.</span><br><hr>
<span>Download: <strong><a href="/download/blackout-202.zip" itemprop="productID">V2.02</a></strong></span>
</div>
</div></article>
