<article class="index"><div itemprop="itemlistelement">
<div itemscope itemtype="http://schema.org/Product">
<h2><span itemprop="name">Ext2Dir</span></h2>
<span itemprop="description">This program maps extensions to directories. It creates directories, removes extensions, sets filetypes, sets access attributes and enforces RISC OS naming conventions.</span><br><hr>
<span>Download: <strong><a href="/download/ext2dir-109.zip" itemprop="productID">V1.09</a></strong></span>, <span>Source: <strong><a href="https://github.com/bracke/ext2dir">GitHub</a></strong></span>
</div>
</div></article>

<article class="index"><div itemprop="itemlistelement">
<div itemscope itemtype="http://schema.org/Product">
<h2><span itemprop="name">TBKeyList</span></h2>
<span itemprop="description">TBKeyList creates a list of the keyboard shortcuts defined in a toolbox resource file (fae). It also adds information about the window containing the shortcut, which object is shown and what event is raised when the shortcut is used. The layout of the created list is defined in templates and can be changed easily.</span><br><hr>
<span>Download: <strong><a href="/download/tbkeylist-102.zip" itemprop="productID">V1.02</a></strong></span>, <span>Source: <strong><a href="https://github.com/bracke/tbkeylist">GitHub</a></strong></span>
</div>
</div></article>

<article class="index"><div itemprop="itemlistelement">
<div itemscope itemtype="http://schema.org/Product">
<h2><span itemprop="name">Drone</span></h2>
<span itemprop="description">Drone releaves the programmer of the monotonous work related with creating a new application as it creates all necessary files automaticallly. Which files are created and the contents of those files can be changed.</span><br><hr>
<span>Download: <strong><a href="/download/drone-112.zip" itemprop="productID">V1.12</a></strong></span>, <span>Source: <strong><a href="https://github.com/bracke/drone">GitHub</a></strong></span>
</div>
</div></article>