<article class="index"><div itemprop="itemlistelement">
<div itemscope itemtype="http://schema.org/Product">
<h2><span itemprop="name">SEDModeEd</span></h2>
<span itemprop="description">SEDModeEd is an editor for StrongED modes. A mode governs how StrongED looks and behaves through a series of keywords. Normally such a modefile is edited using StrongED to change those keywords. Editing modes with SEDModeEd is different in that it uses a graphical user interface (GUI) and the user does not need to know any keywords. You can read more about it and get sourcecode access on the Sourceforge project page.</span><br>
<hr>
<span>Download: <strong><a href="/download/sedmodeed.zip" itemprop="productID">V1.17</a></strong></span>, <span>Source: <strong><a href="http://sourceforge.net/projects/sedmodeed/?source=directory">Sourceforge</a></strong></span>
</div>
</div></article>

<article class="index"><div itemprop="itemlistelement">
<div itemscope itemtype="http://schema.org/Product">
<h2><span itemprop="name">RiscMovie</span></h2>
<span itemprop="description">RiscMovie keeps track of your movie collection. For each movie you can set the genre, mediatype, audio tracks and subtitles. Each movie can have up to 3 titles (e.g. original and English). Multiple lists can be open at the same time and lists can be sorted and searched.</span><br><hr>
<span>Download: <strong><a href="/download/riscmovie-100.zip" itemprop="productID">V1.0</a></strong></span>, <span>Source: <strong><a href="https://github.com/bracke/RiscMovie">GitHub</a></strong></span>
</div>
</div></article>

<article class="index"><div itemprop="itemlistelement">
<div itemscope itemtype="http://schema.org/Product">
<h2><span itemprop="name">BCache</span></h2>
<span itemprop="description">Application which lets you change the state of the cache.</span><br><hr>
<span>Download: <strong><a href="/download/bcache-202.zip" itemprop="productID">V2.02</a></strong></span>, <span>Source: <strong><a href="https://github.com/bracke/BCache">GitHub</a></strong></span>
</div>
</div></article>

<article class="index"><div itemprop="itemlistelement">
<div itemscope itemtype="http://schema.org/Product">
<h2><span itemprop="name">Timeless</span></h2>
<span itemprop="description">Module which displays a clock on the iconbar. Versions prior to v0.04 were developed by Mark Greenwood.</span><br><hr>
<span>Download: <strong><a href="/download/timeless-102.zip" itemprop="productID">V1.02</a></strong></span>
</div>
</div></article>

<article class="index"><div itemprop="itemlistelement">
<div itemscope itemtype="http://schema.org/Product">
<h2><span itemprop="name">Meaning</span></h2>
<span itemprop="description">Meaning finds the meaning of acronyms and displays it in a textarea. You can select the text and drag the selection to other windows or copy it to the clipboard. New acronyms can be added. The data files supplied with Meaning are - Acronyms, Perry Rhodan, Smilies, US-Army, US-Gov, Tom Clancy, David Weber.</span><br><hr>
<span>Download: <strong><a href="/download/meaning-106.zip" itemprop="productID">V1.06</a></strong></span>, <span>Source: <strong><a href="https://github.com/bracke/meaning">GitHub</a></strong></span>
</div>
</div></article>

<article class="index"><div itemprop="itemlistelement">
<div itemscope itemtype="http://schema.org/Product">
<h2><span itemprop="name">Lender</span></h2>
<span itemprop="description">This program keeps track of the things people borrow from you. Versions prior to v2.00 were developed by Ian Molton.</span><br><hr>
<span>Download: <strong><a href="/download/lender-206.zip" itemprop="productID">V2.06</a></strong></span>, <span>Source: <strong><a href="https://github.com/bracke/lender">GitHub</a></strong></span>

</div>
</div></article>

<article class="index"><div itemprop="itemlistelement">
<div itemscope itemtype="http://schema.org/Product">
<h2><span itemprop="name">Text2HTML</span></h2>
<span itemprop="description">A program which converts text to HTML. It is a commandline tool with a desktop frontend based on the DDE module.</span><br><hr>
<span>Download: <strong><a href="/download/text2html-106.zip" itemprop="productID">V1.06</a></strong></span>, <span>Source: <strong><a href="https://github.com/bracke/text2html">GitHub</a></strong></span>

</div>
</div></article>
