body
{
    font-family : Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;

    width	: 100%;
    margin 	: 0;
    padding 	: 0;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;

    flex-direction: row;

    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;

    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -o-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;

   align-content: flex-start;
   -webkit-align-content: flex-start;
    -o-align-content: flex-start;
    -moz-align-content: flex-start;
    -ms-align-content: flex-start;

    align-items: flex-start;
    -webkit-align-items: flex-start;
    -o-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;

 }
 article
 {
    padding 		: 1.6rem;
    min-width	: 19rem;
    font-family 	: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
    font-weight	: 100;
    font-size	: 1.0rem;
    line-height	: 1.6rem;
 }
 article.post ul
 {
     padding-left : 25px;
     padding-top  : 10px;
     list-style   : square;
 }
 article.post li
 {
    padding-bottom : 0.5rem;
 }
 p
 {
    padding-bottom: 1rem;
 }
 article.index p
 {
    padding-bottom: 0;
 }
 article.index  p
 {
    text-align:justify;
 }
 article.post  img
 {
    box-shadow: 3px 3px 3px #666;
    -moz-box-shadow: 3px 3px 3px #666;
    -webkit-box-shadow: 3px 3px 3px #666;
 }
 header h1, header h2, header h3
 {
    padding-bottom	: 0;
    margin-bottom	: 0;
    font-family		: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight		: 300;
    line-height		: 1.9rem;
 }
 h2
 {
    font-family		: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight		: 300;
    font-size        : 1.6rem;
    line-height		: 2rem;
 }
 h3
 {
    font-family 	: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
    font-weight		: 500;
    font-size        : 1.4rem;
    line-height		: 1.7rem;
    padding-top      :1rem;
    font-weight      : bold;
 }
 header h1
 {
    font-size 		: 1.5rem;
    padding-bottom 	: 0.5rem;
 }
 header.main
 {
    width			: 100%;
    background-color : white;
    border-bottom 	: 1px solid gray;
 }
 footer.main
 {
    width 			: 100%;
    padding 			: 1rem;
    text-align		: center;
    background-color : white;
    border-top		: 1px solid gray;
    font-family 		: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
    font-size		: 0.7rem;
 }
 nav
 {
    width 			: 100%;
    padding 			: 0.5rem 0.5rem 0rem 0.5rem;
    padding-right	: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    

    align-items		: center;
    -webkit-align-items: center;
    -o-align-items		: center;
    -moz-align-items		: center;
    -ms-align-items		: center;

    flex-wrap		: wrap;
    -webkit-flex-wrap: wrap;
    -o-flex-wrap		: wrap;
    -moz-flex-wrap		: wrap;
    -ms-flex-wrap		: wrap;


    justify-content	: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content	: space-between;
    -moz-justify-content	: space-between;
    -ms-justify-content	: space-between;
 }
 nav > ul
 {
   list-style-type: none;
 }
 nav > ul > li
 {
   display: inline;
   text-transform    : uppercase;
   padding-right     : 0.3rem;
 }
 #menuList
 {
   position 		    : absolute;
   right 			: 1rem;
   top 				: 1.3rem;
 }
 .active > li
 {
   display 			: block;
 }
 header a:link,
 header a:visited,
 header a:hover,
 header a:active
 {
   color 			: #0a0a0a;
   font-family 		: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   text-decoration 	: none;
   font-weight 		: 400;
   font-size 		: 1.2rem;
 }
 article
 {
   transition: background-color 1s;
   -webkit-transition: background-color 1s;
 }
 article a:link,
 article a:visited,
 article a:hover,
 article a:active
 {
 	text-decoration  : underline;
   	color 			: #0a0a0a;  
	font-weight		: bold;
 }
 article.index a:link,
 article.index a:visited,
 article.index a:hover,
 article.index a:active
 {
   	text-decoration  : none;
    font-weight		: normal;
   	color 			: #0a0a0a;
 
 }
 .no-touch article.index:hover
 {
   background-color  : whitesmoke;
   cursor 			: link;
 }
 .logo a:link,
 .logo a:visited,
 .logo a:hover,
 .logo a:active
 {
   font-size 		: 2rem;
   text-transform 	: uppercase;
 }
 .logo
 {
     color 			: black;
     margin 			: 0;
     padding 		: 0;
     margin 			: 0.5rem auto;
 }
 .logo a[href]:after
 {
     content: '';
     text-decoration: none
 }
 .logo a:link,
 .logo a:visited,
 .logo a:hover,
 .logo a:active
 {
     text-decoration : none;
     letter-spacing  : 0.3rem;
 }
 .menuButton{
   color 			: #0a0a0a;
   background-color  : white;
   padding 			: 0.5rem;
   display 			: none;
   text-rendering 	: geometricPrecision;
   -webkit-font-smoothing:none;
   font-size 		: 2rem;
   font-weight 		: 400;
   font-family 		: helvetica,arial,serif;
   text-decoration 	: none;
   position 		    : absolute;
   right 			: 0rem;
   top 				: 0.5rem;
 }
 #mainMenuList
 {
   max-height           : 0;
   overflow-y           : hidden;

   transition           : max-height 0.3s ease-in-out 0.3s;
   -webkit-transition   : max-height 0.3s ease-in-out 0.3s;
   -moz-transition      : max-height 0.3s ease-in-out 0.3s;
   -ms-transition       : max-height 0.3s ease-in-out 0.3s;
   -o-transition        : max-height 0.3s ease-in-out 0.3s;
 }
 #mainMenuList.active
 {
   max-height           : 300px; /* approximate max height */
 }
 #mainMenuList, #mainMenuList > li {
   width 			    : 100%;
 }
 #mainMenuList li > a:link,
 #mainMenuList li > a:visited,
 #mainMenuList li > a:hover,
 #mainMenuList li > a:active
 {
    font-size 		: 1.7rem;
    line-height 	    : 2.0rem;
    width 			: 100%;
    padding 		    : 0.3rem;
    border-bottom	: 1px solid #eeeeee;
    text-decoration	: none;
    color 			: #0a0a0a !important;
    display 		    : block;
    text-align 		: center;
    text-transform 	: uppercase;
    letter-spacing 	: 0.3rem;
 }
 header a.menuButton:link,
 header a.menuButton:visited,
 header a.menuButton:hover,
 header a.menuButton:active
 {
    font-size		: 2rem;
    padding-right	: 2rem;
 }
 #searchForm {

     width : 100%;
 }
 .widget-DDG_start
 {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid gray;
 }

 input[type=search]
 {
    font-size: 16px;
 }
 .highlight{
 	background-color : whitesmoke;
 	padding: 10px;
 	margin-top: 20px;
 	margin-bottom: 20px;
 }
 
 @media only screen and (max-width: 768px)
 {
   .menuButton { display: block; }

   nav ul  { display: none; }
   article {
     width      : 100%;
     padding    : 1rem;
     border-top : 1px solid #eeeeee;
   }
 }
 @media only screen and (min-width: 769px)
 {
   .menuButton { display: none; }
   .searchForm { display: none; }

   article.index {
     width      : 49%;
     border     : 0;
     min-height : 14rem;
   }
   article.post {
     width      : 100%;
   }
 }
 @media only screen and (min-width: 1024px)
 {
   article.index { width : 33%; }

   article.post {
     width      : 100%;
   }

 }
 @media only screen and (min-width: 1280px)
 {
   article.index { width : 33%; }

   article.post {
     width      : 100%;
   }

 }
 @media only screen and (min-width: 1600px)
 {
   article.index { width : 20%; }

   article.post {
     width      : 100%;
   }

 }